@font-face {
    font-family: 'king_of_the_hillregular';
    src: url('../fonts/king_of_the_hill.eot');
    src: url('../fonts/king_of_the_hill.eot?#iefix') format('embedded-opentype'),
         url('../fonts/king_of_the_hill.woff') format('woff'),
         url('../fonts/king_of_the_hill.ttf') format('truetype'),
         url('../fonts/king_of_the_hill.svg#king_of_the_hillregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* All Elements */
* {
	/*Helps rid of some fullscreen issue.*/
	/*http://stackoverflow.com/questions/10425310/three-js-full-screen-issue*/
    overflow:hidden;
    margin: 0px; padding: 0px; border: 0px;
    color: #774F38;
    
}

/* Board Elements */
canvas { 
	width: 100%;
	height: 100%;
    
}

.hudOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.textAlignLeft {
    text-align: left;
    
}

.textAlignCenter {
    text-align: center;
    
}

.alignBottom {
    position: absolute;
    width: 100%;
    bottom: 5%
}

.marginBottom20px {
    margin-bottom: 20px;
}

.headerText {
    font-family: 'king_of_the_hillregular';
    font-size: 110px;
    -webkit-text-stroke: 1px;
    
}

#boardContainer{
    position:absolute;
    width: 100%;
    height: 100%;
    
} 

/* Player Hud */
#playerHud{
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    /*box-shadow: inset 0 0 100px rgba(6, 6, 6,0.5);*/
    
}

h2 {
   font-size: 2em;
}

#playerInfoList:not(#playerName){
    
}

/* opponentList */
#opponentList{
    position: absolute;
    list-style: none;  
    width: 100%;
    height: 30%;
    top: 1.5%;
}

#opponentList li{   
    display:inline-block; 
    padding:1.5%; 
    padding-right: 0;
}

/* ::before pseudo element for the icons.*/
#opponentList li::before {
    display: inline-block;
    width: 40px; height: 40px;
    text-align: center;
    vertical-align: middle;

    font-weight: 300;
    font-size: 40px;
    line-height: 1;

    background-color: #5F9EA0;
    color: #f2f2f2;

    -webkit-font-smoothing: antialiased;
    content:"P";
}

/* horseList */
#horseList{
    position: absolute;
    top:auto; bottom: 0; left: 1%;
    height: 27.5%;
    width: 80%;
    font-size:1.1em;    
}
    #horseList li{
        display:inline-block;
        padding-left: 1%;
    }
    #horseList li li{
       padding:0;
        display:block; 
    }

/* playerInfoList */

#playerInfoList {
    position: absolute;
    top:auto; bottom: 5%; right: 2.5%;

    width: 20%;
    padding: 1.5%;
    text-align: right;
    list-style: none;
    font-size: 1.5em; 
}   
#playerName{
    font-size: 1.5em;
}

#playerMoney{
    
}

/* colors */
.gold{
   color: #f1c40f;
}